:host {
  background-color: var(--color-neutral-white);
  border-radius: 10px;
  height: 38.437rem;
  overflow: hidden;
  width: 92vw;
}

img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.content {
  padding: 1.2rem 1.562rem 1.562rem;
}

h1 {
  margin-bottom: 1.2rem;
}

.perfume {
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 5.5px;
  margin-bottom: 0.9rem;
  text-transform: uppercase;
}

.name {
  color: var(--color-neutral-very-dark-blue);
  font-family: var(--font-fraunces);
  font-size: 1.95rem;
  line-height: 0.9;
}

p {
  line-height: 1.6;
  margin-bottom: 1.35rem;
}

.prices {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 12.1rem;
}

.real-price {
  color: var(--color-primary-dark-cyan);
  font-family: var(--font-fraunces);
  font-size: 2rem;
}

.struck-price {
  font-size: 0.8rem;
  text-decoration-line: line-through;
}

.button-container {
  align-items: center;
  display: flex;
  height: 3.125rem;
  justify-content: center;
}

.button {
  border-radius: 5px;
  font: inherit;
  font-weight: 700;
}
